@tailwind base;
@tailwind components;
@tailwind utilities;

.react-flow__handle {
  width: '2px';
  height: '2px';
  border-radius: '0px';
  margin-right: '1px';
  transform: 'rotate(45deg)';
  background-color: '#2c344c';
}
